[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "blockCV"]
	path = blockCV
	url = https://github.com/rvalavi/blockcv
[submodule "disdat"]
	path = disdat
	url = https://github.com/cran/disdat
